@import "normalize";
@import "bootstrap";
@import "@fortawesome/fontawesome-free/css/all.css";
@import "helpers";
@import "header";
@import "video";
@import "progress";
@import "tom-select/dist/scss/tom-select.bootstrap5";
@import "cropperjs/dist/cropper.min.css";


// LAYOUT

$sidebar-width: 260px;
$header-height: 56px;

html {
    width: 100%;
    height: 100%;
}

body {
    background-color: #F4F6F9;
    width: 100%;
    height: 100%;
}

.header {
    height: $header-height;
}

#main-container {
    margin-left: $sidebar-width;
}

@media (max-width: 768px) {
    #main-container {
        margin-left: 0;
    }
}

#responsive-sidebar {
    width: 300px;
}

@media (min-width: 768px) {
    #responsive-sidebar.show_sidebar {
        transform: none;
        visibility: visible;
        width: $sidebar-width;
        margin-top: $header-height;
        height: calc(100vh - $header-height);
        z-index: 500;
    }
}

// INPUT FILE

.input-file label {
    background-color: rgba(0,0,0,.05);
    border: 1px dashed rgba(0,0,0,.4);
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    font-weight: 700;
    padding: 30px;
    text-align: center;
    transition: all .2s;
    width: 100%;
}

.input-file input {
    height: 1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    width: 1px;
    z-index: -1;
}

// TABS

.user-tabs.active {
    font-weight: bold;
    border-bottom: 4px solid $primary;
}
