@import "normalize";
@import "bootstrap";

html {
    width: 100%;
    height: 100%;
}

body {
    background-color: #F4F6F9;
    width: 100%;
    height: 100%;
}

$sidebar-width: 240px;

.admin-sidebar {
    width: $sidebar-width;
    height: calc(100vh - 56px);
    z-index: 1;
    overflow-x: hidden;
}

.admin-content {
    //margin-left: $sidebar-width;
    //margin-top: 56px;
}

.logo_home {
    border-bottom: 1px solid #dee2e6;
    height: 57px;
}

// Input FIle

.input-file label {
    background-color: rgba(0,0,0,.05);
    border: 1px dashed rgba(0,0,0,.4);
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    font-weight: 700;
    padding: 30px;
    text-align: center;
    transition: all .2s;
    width: 100%;
}

.input-file input {
    height: 1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    width: 1px;
    z-index: -1;
}

.bg-light-dark {
    background-color: #E5E5E5 !important;
}

.user-tabs.active {
    font-weight: bold;
    border-bottom: 4px solid $primary;
}

.w-30 {
    width: 30%;
}

.w-35 {
    width: 35%;

}

.w-90 {
    width: 90%;
}

.nav .nav-link:hover {
    background-color: lightgrey;
}

.result:hover {
    background-color: #e6eff4;
}

.h-full {
    height: calc(100vh - 56px - 2rem);
}

#main-container {
    margin-left: 240px
}

@media (max-width: 768px) {
    #main-container {
        margin-left: 0;
    }
}

.radius-end-0 {
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.radius-start-0 {
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
}

.comment-dropdown::after {
    display: none;
}


@media (max-width: 370px) {
    .navbar-brand {
        display: none;
    }
}

@media (max-width: 450px) {
    .navbar-brand-auth {
        display: none;
    }
}

