// Logo

.navbar-brand {
 width: 240px;
}

@media (max-width: 550px) {
    .navbar-brand {
        width: auto;
    }
}

@media (max-width: 400px) {
    .navbar-brand {
        display: none;
    }
}
