// SUGGESTED VIDEOS

.suggested_video {
    img {
        height: 94px;
        @media (max-width: map-get($grid-breakpoints, "sm")) {
            height: inherit;
            max-width: 100%;
        }
    }
}

.playlist_video {
    img {
        height: 65px;
        @media (max-width: map-get($grid-breakpoints, "sm")) {
            height: inherit;
            max-width: 100%;
        }
    }
}

.image-box img {
    transition: all 0.3s;
    transform: scale(1);
}

.image-box.hover {
    overflow: hidden;
    outline:  3px solid #DC3644;
    img {
        transform: scale(1.1);
    }

}

.card-stack {
    top: -4px;
    z-index: 1;
    width: calc(100% - 16px);
    left: 8px;
    right: 8px;
    background-color: rgb(107, 125, 153);
    margin-top: -1px;
    border-top: 1px solid #fff;
}

.video-thumbnail {
    min-height: 140px;

    @media (max-width: map-get($grid-breakpoints, "xl")) {
        min-height: 170px;
    }
}

