// SUGGESTED VIDEOS

.suggested_video {
    img {
        height: 94px;
        @media (max-width: map-get($grid-breakpoints, "sm")) {
            height: inherit;
            max-width: 100%;
        }
    }
}

.image-box img {
    transition: all 0.3s;
    transform: scale(1);
}

.image-box.hover {
    overflow: hidden;
    outline:  3px solid #DC3644;
    img {
        transform: scale(1.1);
    }

}


